name: Github Container Registry

on:  # yamllint disable-line rule:truthy
  push:
    branches:
      - main
    tags:
      - rel/*
  pull_request:
    branches:
      - main
  schedule:
    - cron: '5 12 * * 6'  # UTC
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-22.04
    permissions:
      contents: read
      packages: write  # Required for GHCR push
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: Set up Dokcer buildx
        uses: docker/setup-buildx-action@v3
      - name: echo
        run: |
          echo "github.actor: ${{ github.actor }}"
          echo "${{ github.repository_owner }}"

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
          
      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./.github/Dockerfile
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/test-repo-image:latest
          # cache-from: type=gha
          # cache-to: type=gha,mode=max
